body {
  font-family: sans-serif;
  background-image: url(../img/homem-aranha-no-aranhaverso-background.png);
  background-attachment: fixed;
  margin: 0;
  width: 100%;
  background-size: 90%;
  
}

.NavBar {
  width: 80%;
  display: flex;
  color: #DC0E0C;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
   
}

a {
  text-decoration: none;
  color: #DC0E0C;

}

.cadastro-container {

  display: flex;
  width: 100%;
  justify-content: end;
  align-items: end;
  position: relative;

}

.cadastro {

  background-color: black;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: center;
  position: relative;
   

}

.video{
height: auto;
width: 100%;
position: static;

}

.input {

  color: #161515;
  font-size: large;

}

input {

  border: none;
  border-bottom: 2px solid #DC0E0C;;
  background-color: transparent;
  height: 30px;
  font-size: 16px;
  margin-bottom: 10px;
  align-items: center;

}

button:hover {
  text-shadow: #111 0 -1px, #DC0E0C 0 1px;
}

button {

  background-color: #DC0E0C;
  border-radius: 20px;
  width: 100px;
  height: 45px;
  margin-top: 10px;
  filter: drop-shadow(2 1px 3px);

}

h2{

color: #DC0E0C;
filter: drop-shadow(0 1px 3px);

}

.cadastro img{

width: 8%;


}

