body {
  font-family: sans-serif;
  background-image: url(../img/aranha\ -\ login.jpg);
  background-attachment: fixed;
  margin: 0;
  width: 100%;
  background-size: cover;


}

.login-container {

  display: flex;
  width: 100%;
  justify-content: start;
  align-items: start;

}

.login {

  background-color: black;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;


}

.input {

  color: #161515;
  font-size: large;

}

input {

  border: none;
  border-bottom: 2px solid #DC0E0C;
  ;
  background-color: transparent;
  height: 30px;
  font-size: 16px;
  margin-bottom: 10px;
  align-items: center;
  outline: none;
  color: white;

}

button:hover {
  text-shadow: #111 0 -1px, #DC0E0C 0 1px;
}

button {

  background-color: #DC0E0C;
  border-radius: 20px;
  width: 100px;
  height: 45px;
  margin-top: 10px;
  filter: drop-shadow(2 1px 3px);

}

h2 {

  color: #DC0E0C;
  filter: drop-shadow(0 1px 3px);

}

.login img {

  width: 8%;

}