@import url('https://fonts.cdnfonts.com/css/cloud-2');

body {

  font-family: sans-serif;
  background-image: url(../assets/img/gwen_fundo.jpg);
  background-position: 50%;
  background-attachment: fixed;
  margin: 0;
  width: 100%;
  background-size: cover;
  
}

.box {

  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: end;

}

.texto {
  background-color: rgba(0, 0, 0, 0.699);
  width: 35%;
  height: 25vh;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: whitesmoke;
  border-radius: 150px;
  position: relative;
  bottom: 46px;
  font-family: 'Cloud', sans-serif;

}

.popup {

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #00000000;
  z-index: 9999;
  display: none;
  border-radius: 15px;

}

.popup iframe {
  max-width: 110%;
  height: 50vh;
  border-radius: 15px;
}

.popup button {

  display: block;
  margin: 10px auto;
  background-color: transparent;
  border-radius: 10px;
  width: 150px;
  height: 45px;
  margin-top: 10px;
  border: none;
  transition: .4s;
  font-size: larger;
  color: aliceblue;
  font-family: 'Cloud', sans-serif;

}

.open-btn {

  background-color: #000000b4;
  border-radius: 10px;
  width: 150px;
  height: 54px;
  margin-top: 10px;
  border: none;
  font-size: larger;
  color: aliceblue;
  font-family: 'Cloud', sans-serif;
  transition: .4s;

}

button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.entrar {

  display: flex;
  align-items: end;
  justify-content: end;
  position: relative;
  bottom: 10px;
  right: 5%;
}

.letra {

  list-style: none;
  margin-left: 15px;
  margin-top: 10px;

}

.voltar {
  width: 6%;
  height: 7vh;
  background-color: black;
  display: flex;
  align-items: start;
  justify-content: start;
  position: relative;
  left: 5%;
  top: 20px;
  border-radius: 20px;
  transition: .4s;
}

.voltar:hover {

  transform: scale(1.2);
  cursor: pointer;

}

a {
  text-decoration: none;
  color: #DC0E0C;
  font-size: larger;
  font-family: 'Cloud', sans-serif;



}