body {
    font-family: sans-serif;
    background-color: black;
    background-attachment: fixed;
    margin: 0;
    width: 100%;
    background-size: 100%;
    
  }
  
  /* Começo da navbar */
  
  .hero-container {
    position: relative;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  
  .hero {
    font-size: 25px;
    display: flex;
    justify-content: start;
    color: #DC0E0C;
    margin-left: 5px;
    filter: drop-shadow(0 1px 3px);
  }
  
  .container-header {
    display: flex;
    width: 90%;
    margin: auto;
  }
  
  .header {
    width: 100%;
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
  }
  
  .header .container-header {
    justify-content: space-between;
    align-items: center;
  }
  
  .header img {
    width: 5%;
    height: 12vh;
    margin-left: 50px;
    
  
  }
  
  .NavBar {
    width: 60%;
    display: flex;
    color: #DC0E0C;
    list-style: none;
    justify-content: space-between;
    align-items: end;
    margin-left: 50px;
    
  
  }
  
  a {
    text-decoration: none;
    color: #DC0E0C;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  }
  
  .header a {
    padding: 5px;
    font-size: larger;
    text-shadow: #111, #00ff00, #DC0E0C;
  }
  
  /* Fim da Navbar */
  
  /* Codigo do Glitch */
  
  .single-path {
    clip-path: polygon(0% 12%,
        53% 12%,
        53% 26%,
        25% 26%,
        25% 86%,
        31% 86%,
        31% 0%,
        53% 0%,
        53% 84%,
        92% 84%,
        92% 82%,
        70% 82%,
        70% 29%,
        78% 29%,
        78% 65%,
        69% 65%,
        69% 66%,
        77% 66%,
        77% 45%,
        85% 45%,
        85% 26%,
        97% 26%,
        97% 28%,
        84% 28%,
        84% 34%,
        54% 34%,
        54% 89%,
        30% 89%,
        30% 58%,
        83% 58%,
        83% 5%,
        68% 5%,
        68% 36%,
        62% 36%,
        62% 1%,
        12% 1%,
        12% 34%,
        60% 34%,
        60% 57%,
        98% 57%,
        98% 83%,
        1% 83%,
        1% 53%,
        91% 53%,
        91% 84%,
        8% 84%,
        8% 83%,
        4% 83%);
  }
  
  /*  O código CSS que você forneceu define dois conjuntos de clip-paths. O primeiro conjunto é definido pela classe .single-path e consiste em um polígono complexo que define uma forma com vários ângulos e cantos. Este polígono é usado para recortar um elemento HTML para que fique visível apenas dentro dos limites do polígono. */
  
  @keyframes paths {
    0% {
      clip-path: polygon(0% 43%,
          83% 43%,
          83% 22%,
          23% 22%,
          23% 24%,
          91% 24%,
          91% 26%,
          18% 26%,
          18% 83%,
          29% 83%,
          29% 17%,
          41% 17%,
          41% 39%,
          18% 39%,
          18% 82%,
          54% 82%,
          54% 88%,
          19% 88%,
          19% 4%,
          39% 4%,
          39% 14%,
          76% 14%,
          76% 52%,
          23% 52%,
          23% 35%,
          19% 35%,
          19% 8%,
          36% 8%,
          36% 31%,
          73% 31%,
          73% 16%,
          1% 16%,
          1% 56%,
          50% 56%,
          50% 8%);
    }
  
    5% {
      clip-path: polygon(0% 29%,
          44% 29%,
          44% 83%,
          94% 83%,
          94% 56%,
          11% 56%,
          11% 64%,
          94% 64%,
          94% 70%,
          88% 70%,
          88% 32%,
          18% 32%,
          18% 96%,
          10% 96%,
          10% 62%,
          9% 62%,
          9% 84%,
          68% 84%,
          68% 50%,
          52% 50%,
          52% 55%,
          35% 55%,
          35% 87%,
          25% 87%,
          25% 39%,
          15% 39%,
          15% 88%,
          52% 88%);
    }
  
    30% {
      clip-path: polygon(0% 53%,
          93% 53%,
          93% 62%,
          68% 62%,
          68% 37%,
          97% 37%,
          97% 89%,
          13% 89%,
          13% 45%,
          51% 45%,
          51% 88%,
          17% 88%,
          17% 54%,
          81% 54%,
          81% 75%,
          79% 75%,
          79% 76%,
          38% 76%,
          38% 28%,
          61% 28%,
          61% 12%,
          55% 12%,
          55% 62%,
          68% 62%,
          68% 51%,
          0% 51%,
          0% 92%,
          63% 92%,
          63% 4%,
          65% 4%);
    }
  
    45% {
      clip-path: polygon(0% 33%,
          2% 33%,
          2% 69%,
          58% 69%,
          58% 94%,
          55% 94%,
          55% 25%,
          33% 25%,
          33% 85%,
          16% 85%,
          16% 19%,
          5% 19%,
          5% 20%,
          79% 20%,
          79% 96%,
          93% 96%,
          93% 50%,
          5% 50%,
          5% 74%,
          55% 74%,
          55% 57%,
          96% 57%,
          96% 59%,
          87% 59%,
          87% 65%,
          82% 65%,
          82% 39%,
          63% 39%,
          63% 92%,
          4% 92%,
          4% 36%,
          24% 36%,
          24% 70%,
          1% 70%,
          1% 43%,
          15% 43%,
          15% 28%,
          23% 28%,
          23% 71%,
          90% 71%,
          90% 86%,
          97% 86%,
          97% 1%,
          60% 1%,
          60% 67%,
          71% 67%,
          71% 91%,
          17% 91%,
          17% 14%,
          39% 14%,
          39% 30%,
          58% 30%,
          58% 11%,
          52% 11%,
          52% 83%,
          68% 83%);
    }
  
    76% {
      clip-path: polygon(0% 26%,
          15% 26%,
          15% 73%,
          72% 73%,
          72% 70%,
          77% 70%,
          77% 75%,
          8% 75%,
          8% 42%,
          4% 42%,
          4% 61%,
          17% 61%,
          17% 12%,
          26% 12%,
          26% 63%,
          73% 63%,
          73% 43%,
          90% 43%,
          90% 67%,
          50% 67%,
          50% 41%,
          42% 41%,
          42% 46%,
          50% 46%,
          50% 84%,
          96% 84%,
          96% 78%,
          49% 78%,
          49% 25%,
          63% 25%,
          63% 14%);
    }
  
    90% {
      clip-path: polygon(0% 41%,
          13% 41%,
          13% 6%,
          87% 6%,
          87% 93%,
          10% 93%,
          10% 13%,
          89% 13%,
          89% 6%,
          3% 6%,
          3% 8%,
          16% 8%,
          16% 79%,
          0% 79%,
          0% 99%,
          92% 99%,
          92% 90%,
          5% 90%,
          5% 60%,
          0% 60%,
          0% 48%,
          89% 48%,
          89% 13%,
          80% 13%,
          80% 43%,
          95% 43%,
          95% 19%,
          80% 19%,
          80% 85%,
          38% 85%,
          38% 62%);
    }
  
    1%,
    7%,
    33%,
    47%,
    78%,
    93% {
      clip-path: none;
    }
  }
  
  /* O segundo conjunto é definido pela regra @keyframes paths e usa animações CSS para fazer a transição entre quatro diferentes clip-paths em diferentes pontos no tempo (0%, 5%, 30% e 45%). Esses caminhos de recorte também são polígonos complexos com vários ângulos e cantos e são usados ​​para criar formas e animações mais complexas. */
  
  
  .paths {
    animation: paths 5s step-end infinite;
  }
  
  .glitch span {
    animation: paths 5s step-end infinite;
  }
  
  .glitch::before {
    animation: paths 5s step-end infinite, opacity 5s step-end infinite,
      font 8s step-end infinite, movement 10s step-end infinite;
  }
  
  .glitch::after {
    animation: paths 5s step-end infinite, opacity 5s step-end infinite,
      font 7s step-end infinite, movement 8s step-end infinite;
  }
  
  /* Fim do codigo do glitchs */

  /* comeco do banner */

  .banner-miles{
    background-image: url(../assets/img/a9e8603c729f89e6d7c427b48ab74fca.png) ;
    display: flex;
    height: 82vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    border-bottom: 6px solid black;
  }

.banner-conteiner{

background-color: #ffffff00;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
width: 30%;
height: 20vh;
border-radius: 10px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin-top: 10%;
}



